@using PayrollApplication.BOL
@model Salary
@{
    ViewBag.Title = "EditSalary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-sm-6 col-lg-6 col-md-6">

        <div>

            <img src="~/images/loginFormVector.png" class="loginVector">
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-6" id="secondContactBlock">
        <h3 class="contactHeading">Edit Salary</h3>
        @using (Html.BeginForm("EditSalary", "Admin", FormMethod.Post))
        {
   
            <form>

        @*<div class="mb-3 input-group">
            <span class="input-group-text">
                <i class="bi bi-person-rolodex"></i>
            </span>
            @{
                List<User> Users = ViewBag.Users
                    as List<User>;
            }
            <input type="hidden" id="SelectedEmployee" value="@Model.Employee.Name" />
            <select name="EmployeeId" class="form-select">

                @foreach (var item in Users)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>*@

        <label for="Bonus" class="labels form-label">Enter Bonus</label>
        <div class="mb-3 input-group">
            <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
            </span>
            @Html.TextBoxFor(x => x.Bonus, new { @class = "form-control", placeholder = "e.g: xxxx Rs", required = "required" })
        </div>


        <label for="Deductions" class="labels form-label">Enter Deductions</label>
        <div class="mb-3 input-group">
            <span class="input-group-text">
                <i class="bi bi-envelope-fill"></i>
            </span>
            @Html.TextBoxFor(x => x.Deductions, new { @class = "form-control", placeholder = "e.g: xxxx Rs", required = "required" })
        </div>



        @*<label for="Month" class="labels form-label">Month</label>
        <div class="mb-3 input-group">
            <span class="input-group-text">
                <i class="bi bi-envelope-fill"></i>
            </span>

            @Html.DropDownListFor(model => model.Month, Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(x) }), "Select Month", new { @class = "form-control" })

        </div>

        <label for="Year" class="labels form-label">Year</label>
        <div class="mb-3 input-group">
            <span class="input-group-text">
                <i class="bi bi-envelope-fill"></i>
            </span>

            @Html.DropDownListFor(model => model.Year, Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), "Select Year", new { @class = "form-control" })

        </div>*@


        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
       </form>
        }
    </div>

</div>

@section Scripts{
    <script>
        $("#EmployeeId").val($("#SelectedEmployee").val());
    </script>

}
